.Footer {
    position: relative;
    bottom: -100px;
    left: 0;
    background: white;
    width: 100%;
    min-height: 60px;
    max-height: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.Middle-footer {
    
}