.Footer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.Middle-footer {
    position: absolute;
    background: white;
    width: 100%;
    /* min-height: 30px; */
    max-height: 30px;
    bottom: -20px;
    /* padding: -20px; */
    font-size: 14px;
    font-weight: 400;
}