.login-form {
    padding-top: 40px;
    display:flex;
    align-items: center;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}

/* input {
    display: flex;
} */

.Username {
    display: flex;
    padding: 10px;
}
.Password {
    display: flex;
    padding-left:16px;
}

/* .submit-button {
    font-size: 32px;
} */

/* .form-footer {
    padding-bottom: 50px;
} */
